:root {
    ::-webkit-scrollbar {
        height: 10px;
        width: 10px
    }

    ::-webkit-scrollbar-track {
        background: #efefef;
        border-radius: 6px
    }

    ::-webkit-scrollbar-thumb {
        background: #d5d5d5;
        border-radius: 6px
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #c4c4c4
    }
}

html, body {
    --bulma-navbar-item-color: hsl(221deg 39.68% 26.6%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    --bulma-link-text: #dfdddd;
    --bulma-link: #dfdddd;
    --bulma-body-color: #dfdddd;
    --bulma-background: #112037;
    --bulma-scheme-main: #1d2d47;
    --bulma-navbar-background-color: #1b222d;
    --bulma-strong-color: #F5F5F5;
    --bulma-text-strong: #F5F5F5;
    --bulma-label-color: #F5F5F5;
    --bulma-arrow-color: #1b222d;
    --bulma-text: #F5F5F5;
    --bulma-box-color: #F5F5F5;
    background: #1c3151;
    color: #F5F5F5;
}

.container {
    color: #F5F5F5;
}

.title {
    color: #F5F5F5;
}

.subtitle {
    color: #F5F5F5;
}

.hero-body .container {
    max-width: 700px;
}

.hero-body .title {
    color: var(--bulma-body-color) !important;
}

.hero-body .subtitle {
    color: var(--bulma-body-color) !important;
    padding-top: 2rem;
    line-height: 1.5;
}

.features {
    padding: 0rem 0;

}

.box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.card-image > .fa {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #209cee;
}

.card-content .content {
    font-size: 14px;
    margin: 1rem 1rem;
}

.card .title, .card .content {
    color: #dfdddd;
}

.card-content .content h4 {
    font-size: 16px;
    font-weight: 700;
}

.card {
    transition: transform 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
    background: #131b27;
}

.hover:hover {
    transform: scale(1.05);
}

.intro {
    padding: 5rem 0;
    text-align: center;
}

.sandbox {
    padding: 5rem 0;
}

.tile.notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.is-shady {
    animation: flyintoright .4s backwards;
    background: #3c6475;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    position: relative;
    transition: all .2s ease-in-out;
}

.is-shady:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

.footer {
    background-color: #0e1219;
    color: white;
    padding: 2rem 1.5rem;
}

.footer a {
    color: #e0e0e0;
}

.footer a:hover {
    color: #00d1b2;
}

.footer .social-icons a {
    margin: 0 0.5rem;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

}


.navbar-link {

}

.navbar-link:hover {
    background-color: #54546c;
}


/*adds font awesome stars*/
footer li:before {
    content: '\f1b2';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #d3508b;
}

.columns:nth-child(2) {
    margin-top: 0rem;
}

.spotlight-container {
    background-size: cover;
    position: fixed;
    height: 100vh;
    color: white;

}

.spotlight-overlay {
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), rgba(255, 255, 255, 0.4) 0%, transparent 300px);
}
.input_form{
    width: 12vw;
}
is-active{
    background-color: #00d1b2;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px
}

::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 6px
}

::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 6px
}

::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4
}
